html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
nav {
	background-color: #000032;
}
.title h2{
	margin-top: .5rem;
}
.footerDown_container {
	min-height: 100%;
	position: relative;
}
.footerDown_body {
	padding-bottom: 60px;
}
.footerDown_footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: #000032;
	border-top: 2px solid #3bb6d4;
	color: #fff;
}
.row_buttons button{
	float: right;
	margin: 2px 5px;
}

.menu{
	padding: 18px;
	background: #f0f0f0;
	border-bottom: #1173BD solid 0.1em;
}
.nav-item>span {
	cursor: pointer;
}
.nav-link.active{
	color: #f5f5f5;
}
.navbar_project{
	color: #3bb6d4;
	padding-left: 10px; 
}
h2 {
	margin-top: 1rem;
	margin-bottom: .5rem;
}

.title{
	padding: 0px 5px 0px 20px;
}
.title, .form.bs-callout-left{
	margin: 10px 0 10px 0;
	padding: 0px 5px 0px 20px;
	border-left: 5px solid #323264;
	border-radius: 3px;
}
.form{
	padding: 0px 5px 0px 25px;
}
.title, .form{
	margin: 10px 0 10px 0;
}
.table_parent table{
	border-top: 1px solid white;
	padding-top: 25px;
}
.table_parent div div:nth-child(3){
	padding-top: 20px;
}
.btn-primary {
	background-color: #323264;
	border-color: #323264;
}
.btn-primary:hover {
	background-color: #323264;
	border-color: #000092;
}
.btn-primary:focus {
	box-shadow: 0 0 0 .2rem #000092;
}
.btn-primary:active {
	box-shadow: 0 0 0 .2rem #000092;
}
.page-item.active .page-link{
	background-color: #323264;
}
.page-link{
	color: #323264;
}

.form_element {
	padding: 10px 10px 10px 0;
}

textarea, select[multiple] {
	width: 100%;
	height: 150px;
	border: 1px solid #ced4da;
	border-radius: .2em;
}
textarea.single_lined{
	height: auto;
}

footer{
	padding: 15px;
}
.form_plus{
	transform:rotate(0deg);
	transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
}
.form_plus.rotated{
	transform:rotate(45deg);
	transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
}
.table_parent{
	padding: 0 10px 0 0px;	
}

.catcher{
	background: #f0f0f0;
	padding: 15px 0;
	text-align: center;
	color:#666;
}

.topbar_topbar{
	border-bottom: 2px solid #3bb6d4;
	padding: 7px 16px;
}

/* Sidebar */
.sidebar_trigger {
	box-shadow: none;
	outline: none !important;
	border: none;
}
.sidebarWrapper_wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
	perspective: 1500px;
}
.sidebarWrapper_sidebar {
	min-width: 250px;
	max-width: 250px;
	background: #323264;
	color: #fff;
	transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
	transform-origin: bottom left;
	border-right: 1px solid #3bb6d4;
}
.sidebarWrapper_sidebar ul li a, .sidebarWrapper_sidebar ul li p {
    display: block;
    margin-bottom: 0;
}
.sidebarWrapper_sidebar.active {
	margin-left: -250px;
	transform: rotateY(100deg);
}
.sidebarWrapper_sidebar .sidebar-header {
	height: 56px;
	padding: 10px;
	background: #f5f5f5;
	color: #000032;
	border-bottom: 2px solid #3bb6d4;
	border-right: 1px solid #fff;
}
.sidebarWrapper_sidebar a, .sidebarWrapper_sidebar p {
	padding: 10px;
	font-size: 1.1em;
	display: block;
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}
.sidebarWrapper_sidebar a:not(.disabled):hover {
	background: #000032;
}
.sidebarWrapper_sidebar a.disabled {
	cursor: auto;
}

.sidebarWrapper_sidebar ul li.active > a {
	background-color: #000032;
}
a[data-toggle="collapse"] {
    position: relative;
}

.sidebarWrapper_sidebar .dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
.sidebarWrapper_sidebar ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #323264;
}
.sidebarWrapper_page {
	min-height: 100vh;
	transition: all 0.3s;
	width: 100%;
}
.sidebar_trigger {
	width: 40px;
	height: 40px;
	background: #000032;
	cursor: pointer;
}
.sidebar_trigger span {
	width: 80%;
	height: 2px;
	margin: 0 auto;
	display: block;
	background: #555;
	transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
	transition-delay: 0.2s;
}
.sidebar_trigger span:first-of-type {
	transform: rotate(45deg) translate(2px, 2px);
}
.sidebar_trigger span:nth-of-type(2) {
	opacity: 0;
}
.sidebar_trigger span:last-of-type {
	transform: rotate(-45deg) translate(1px, -1px);
}
.sidebar_trigger.active span {
	transform: none;
	opacity: 1;
	margin: 5px auto;
}
#navbarSupportedContent:not(.show){
	height: 40px;
}
.topbar_trigger {
	width: 40px;
	height: 40px;
	background: #000032;
	cursor: pointer;
	padding: 1px 7px 2px;
	border-width: 0;
}
.topbar_trigger span {
	transform: none;
    opacity: 1;
    margin: 5px auto;
    width: 80%;
    height: 2px;
    display: block;
    background: #555;
	margin: 5px auto; 
}
@media (max-width: 768px) {
	.sidebarWrapper_sidebar {
		margin-left: -250px;
		transform: rotateY(90deg);
	}
	.sidebarWrapper_sidebar.active {
		margin-left: 0;
		transform: none;
	}
	.sidebar_trigger span:first-of-type,
	.sidebar_trigger span:nth-of-type(2),
	.sidebar_trigger span:last-of-type {
		transform: none;
		opacity: 1;
		margin: 5px auto;
	}
	.sidebar_trigger.active span {
		margin: 0 auto;
	}
	.sidebar_trigger.active span:first-of-type {
		transform: rotate(45deg) translate(2px, 2px);
	}
	.sidebar_trigger.active span:nth-of-type(2) {
		opacity: 0;
	}
	.sidebar_trigger.active span:last-of-type {
		transform: rotate(-45deg) translate(1px, -1px);
	}
}

.ace{
	width: 100%;
	height: 100%;
}